<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js" type="text/javascript"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>

    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='main2.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/grayscale.min.css') }}"> -->

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static',filename='js/grayscale.min.js') }}"></script>
    
    <!-- Driver functions -->
    <script src="{{ url_for('static',filename='js/driverfunctions.js') }}"></script>  

    <!-- AmChart -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <script>
      window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    
    <style>
      /* Chart.js */
      @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
    </style>

    <link rel="stylesheet" href="{{ url_for('static',filename='explore.css') }}">
 `
    <title>Lyricist | Explore</title>
</head>

<body id="page-top">

  <!-- <div style="position: absolute;min-width: 100%;"> -->
    <!-- <nav class="navbar navbar-light bg-light">
      <h4 href="/main">Lyricist</h4>
      <form class="form-inline" id='searchID'data-toggle="tooltip" title="Artist or Genre not found" action="/explore" method="post">
        <input id="searchbar" name="getsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-secondary type="submit" href="/explore">Search</button>
      </form>
      
      <button class="btn btn-sm btn-outline-secondary type="submit" id="addArtistID" name="addartist" >Add artist</button>
  
    </nav> -->
  <!-- </div> -->
  

  <!-- <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: rgb(231, 231, 231);">

    <div id="SimArtistCard"></div>
    <div class="card" style="display: inline-block;">
      <img src='https://thumbs-prod.si-cdn.com/_oO5E4sOE9Ep-qk_kuJ945_-qo4=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg' class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="display: inline-block;">
      <img src='https://thumbs-prod.si-cdn.com/_oO5E4sOE9Ep-qk_kuJ945_-qo4=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg' class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </nav> -->
  <!-- <div class="container-fluid"> -->

  <!-- <div class="row"> -->
  
<!-- <div class="panel"> -->
  <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="overflow: hidden;">
    <div class="sidebar-header">
      <h3>Similar Artists</h3>
    </div>
    <div class="sidebar-sticky" style="overflow-y: scroll;"> <!--id="style-3" -->
      <!-- <div class="force-overflow"> -->
      <ul class="nav flex-column">
        <!-- <div id="SimArtistCard"></div> -->
        <div class="card" style="display: inline-block;">
          <img src='https://thumbs-prod.si-cdn.com/_oO5E4sOE9Ep-qk_kuJ945_-qo4=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ simAD.simname[0] }}</h5>
            <p class="card-text">{{ simAD.simgenre[0] }}</p>
          </div>
        </div>
        <div class="card" style="display: inline-block;">
          <img src='https://thumbs-prod.si-cdn.com/_oO5E4sOE9Ep-qk_kuJ945_-qo4=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ simAD.simname[1] }}</h5>
            <p class="card-text">{{ simAD.simgenre[1] }}</p>
          </div>
        </div>
        <div class="card" style="display: inline-block;">
          <img src='https://thumbs-prod.si-cdn.com/_oO5E4sOE9Ep-qk_kuJ945_-qo4=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ simAD.simname[2] }}</h5>
            <p class="card-text">{{ simAD.simgenre[2] }}</p>
          </div>
        </div>
        <div class="card" style="display: inline-block;">
          <img src='https://thumbs-prod.si-cdn.com/_oO5E4sOE9Ep-qk_kuJ945_-qo4=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ simAD.simname[3] }}</h5>
            <p class="card-text">{{ simAD.simgenre[3] }}</p>
          </div>
        </div>
        <div class="card" style="display: inline-block;">
          <img src='https://thumbs-prod.si-cdn.com/_oO5E4sOE9Ep-qk_kuJ945_-qo4=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ simAD.simname[4] }}</h5>
            <p class="card-text">{{ simAD.simgenre[4] }}</p>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <nav class="navbar navbar-light bg-light">
        <h4 href="/main">Lyricist</h4>
        <form class="form-inline" id='searchID'data-toggle="tooltip" title="Artist or Genre not found" action="/explore" method="post">
          <input id="searchbar" name="getsearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-sm btn-outline-secondary type="submit" href="/explore">Search</button>
        </form>
        
        <button class="btn btn-sm btn-outline-secondary type="submit" id="addArtistID" name="addartist" >Add artist</button>
    
      </nav>
      
      <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <a class="h2" id="dashID" style="text-decoration: none;" href="/viewD2VG/{{ ga }}/">{{ ga }}</a>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a id="print" type="button" class="btn btn-sm btn-outline-secondary">5</a>
            <a id="print" type="button" class="btn btn-sm btn-outline-secondary">20</a>
            <a id="print" type="button" class="btn btn-sm btn-outline-secondary">50</a>
            <a id="print" type="button" class="btn btn-sm btn-outline-secondary">100</a>
          </div>
        </div>
      </div>
      <div id="cloud" style="dislay=block;height: 250px;"></div>
      <canvas class="my-4 w-100 chartjs-render-monitor" id="ngramChartID" width="500" height="200" style="display: block; width: 592px; height: 249px;"></canvas>
      <canvas id="radarID" style="display: block; width: 783px; height: 391px;" width="783" height="391" class="chartjs-render-monitor"></canvas>
      
      
      <!-- <div class="container">
        <div class="row justify-content-start">
          <div class="col-6">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            Something else here

          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div> -->
    </main>
  <!-- </div> -->
<!-- </div> -->
</body>

<script type="text/javascript">
  var ngram = document.getElementById("ngramChartID").getContext('2d');
  var radar = document.getElementById("radarID");
  var dashname = document.getElementById("dashID");

  function loaddata(vars){
    return vars
  }
  var utils = Samples.utils;

  utils.srand(110);
  
  function getRandomColor(solid, opacity) {
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }

    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    var colour = hexToRgb(String(color));
    var solid_colour = 'rgba(' + String(colour.r) + ',' + String(colour.g) + ',' + String(colour.b) + ',' + '0.8' + ')';  
    var opacity_colour = 'rgba(' + String(colour.r) + ',' + String(colour.g) + ',' + String(colour.b) + ',' + '0.2' + ')';  

    return {solid: solid_colour, opacity: opacity_colour};
  }

  var random_colour = getRandomColor();

  var ngdata = loaddata({{data|tojson}});
  var ngramData = { 
                    labels: ngdata.labels,
                    datasets: [{
                      label: ngdata.artistname,
                      backgroundColor: random_colour.opacity,
                      borderColor: random_colour.solid,
                      data: ngdata.data
                    }]
                  }
  var NgramChart = new Chart(ngram, {
      type: 'line',
      data:ngramData, 
      // {
      //     labels: ngramdata.labels,
      //     datasets: [{
      //         backgroundColor: 'rgb(255, 99, 132,0.2)',
      //         borderColor: 'rgb(255, 99, 132)',
      //         data: ngramdata.data
      //     }]
      // },

      // Configuration options go here
      options: {
			  elements: {
          line: {
            backgroundColor: random_colour.opacity,
            borderColor: random_colour.solid,
          },
          point: {
            backgroundColor: random_colour.solid,
            radius: 5,
            hoverRadius: 10,
          }
        }
      }
    });
  var radarjson = loaddata({{radarData|tojson}});
  var radarData = { 
                    labels: radarjson.labels,
                    datasets: [{
                      label: radarjson.artistname,
                      backgroundColor: random_colour.opacity,
                      borderColor: random_colour.solid,
                      data: radarjson.datasets[0].data
                    }]
                  }

  var GenreRadar = new Chart(radar, {
      type: 'radar',
      data: radarData,
      options: {
        tooltips: true,
        elements: {
          line: {
            backgroundColor: random_colour.opacity,
            borderColor: random_colour.solid,
          },
          point: {
            backgroundColor: random_colour.solid,
            radius: 5,
            hoverRadius: 10,
          }
        }
      }
  });

    var SimArtistCard = document.getElementById('SimArtistCard');
    var addArtist = document.getElementById('searchbar');

    $("#addArtistID").click(function(){
      $('#searchID').tooltip('hide');

      var data = {token: 1,artistname: addArtist.value};
      $.ajax({
        type : 'POST',
        url : "http://localhost:8080" + "/getRadarAddData",
        data : JSON.stringify(data),
        success: function(data){

          random_colour = getRandomColor();

            addradardata = {
                label: data.artistname,
                backgroundColor: random_colour.opacity,
                borderColor: random_colour.solid,
                data: data.datasets[0].data
            }
            
            GenreRadar.data.datasets.push(addradardata); 
            GenreRadar.update();
            
        },
        error: function (error) {
            console.log("ERROR");
            console.log(error);
            // $('[data-toggle="tooltip"]').tooltip();
            $('#searchID').tooltip({'trigger':'manual', 'title': 'Artist or Genre not found'}).tooltip('show');
        },
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
      });
    });

    function onclickFunction(){
      $.ajax({
        type : 'POST',
        url : "http://localhost:8080" + "/viewD2VG",
        data: '{{ ga }}',
        success: function(data){
          // console.log(data);
        },
        
        error: function (error) {
            console.log("ERROR");
            console.log(error);
        }
      });
      return false;
    }
    
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end


var chart = am4core.create("cloud", am4plugins_wordCloud.WordCloud);
var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());

series.accuracy = 4;
series.step = 15;
series.rotationThreshold = 0.7;
series.maxCount = 200;
series.minWordLength = 2;
series.labels.template.tooltipText = "{word}: {value}";
series.fontFamily = "Courier New";
series.maxFontSize = am4core.percent(30);

series.text = "{{ clouddata }}"; 

}); // end am4core.ready()
// console.log("{{ clouddata }}");
</script>
</html>

