<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js" type="text/javascript"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>

    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='main2.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/grayscale.min.css') }}">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static',filename='js/grayscale.min.js') }}"></script>
    
    <!-- Driver functions -->
    <script src="{{ url_for('static',filename='js/driverfunctions.js') }}"></script>  


    <script>
      window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    
    <style>
      /* Chart.js */
      @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
    </style>

    <link rel="stylesheet" href="{{ url_for('static',filename='lyricgen.css') }}">

</head>

<body>
    <div class="genrelist" style="padding-top: 2%;">
        <div class="row justify-content-start selected">
            <button class="col-1" href = '#'>Pop</button>
            <button class="col-1" href = '#'>Hip-Hop</button>
            <button class="col-1" href = '#'>Rock</button>
            <button class="col-1" href = '#'>Metal</button>
            <button class="col-1" href = '#'>Country</button>
        </div>
        <div class="row justify-content-start">
            <button class="col-1" href = '#'>Jazz</button>
            <button class="col-1" href = '#'>Electronic</button>
            <button class="col-1" href = '#'>Folk</button>
            <button class="col-1" href = '#'>R&B</button>
            <button class="col-1" href = '#'>Indie</button>
        </div>
    </div>
    <div class="row" style="padding: 2%;">
        <button id="genButton">Generate</button>
    </div>
    <div class="row" style="padding-top: 5%;">
        <div class="col-md-8 offset-md-3">
            <a id="LyricBoardID" style="text-align: center;">generated text</a>
            
        </div>
      </div>
    <!-- <header id="header">
        <nav class="links" style="--items: 10;">
            <a href = '#'>Pop</a>
            <a href = '#'>Hip-Hop</a>
            <a href = '#'>Rock</a>
            <a href = '#'>Metal</a>
            <a href = '#'>Country</a>
            <a href = '#'>Jazz</a>
            <a href = '#'>Electronic</a>
            <a href = '#'>Folk</a>
            <a href = '#'>R&B</a>
            <a href = '#'>Indie</a>
    
            <span class="line"></span>
        </nav>
    <button class="genButton">Generate Lyrics</button>

    </header> -->
    
    <h5 id="result" style="margin-right:20px; margin-top:300px;float:left;"><span></span></h5>
</body>

<script type="text/javascript">
    var lyricboard = document.getElementById('LyricBoardID')
    function printLyricText(){  

        // var lyrictext = '{{ loadmodel }}'
        // lyricboard.innerHTML = lyrictext;
        return '{{ loadmodel }}'

    }

    var genreselected = "Pop"
    $(".genrelist").click(function(event){

        console.log('{{ request.script_root|tojson|safe }}');
        window.genreselected = event.target.textContent;    
        console.log(event.target.textContent);
        
	});
    
    $("#genButton").click(function(event){
        // console.log(genreselected);
        $.ajax({
            type: "POST",
            url: "http://localhost:8080" + "/LoadnGen",
            data: genreselected,
            success: function(result){

                $('#LyricBoardID').text(result);
                
                console.log(result);
            
            }
            
        });

    });

</script>
</html>